


@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}


body{
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;

}


.titulo-destaque
{
  color: #22D4FD;
}

.presentacion
{

  display: flex;
  align-items: center;
  margin: 10% 15%;
  justify-content: space-between;

}
.presentacion_contenido
{
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;	
  
 
}

.presentacion_contenido_titulo
{
  font-size: 36px;
  font-family: "Krona One", serif;
}


.presentacion_contenido__texto 
{
    font-family: "Montserrat", serif;
  font-size: 24px;
  margin-bottom: 40px;
}

.presentacion_enlaces{
    display: flex;
    gap: 100px;
}

.presentacion_enlace_link {

        background-color: #22D4FD;
        width: 280px;
        text-align: center;
        border-radius: 16px;
        font-size: 24px;
        font-weight: 600;
        padding: 21.5px 0;
        text-decoration: none;
        color: #000000;
        font-family: 'Montserrat', sans-serif;
        margin-left: -20px;
       

}

.imagen-proyecto {
    width: 400px;
   margin: 50px;
  }
  
  
